.navLink{
    padding-right: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    transition: all 0.1s ease;
    background-color: transparent;
}

.mainLogo img{
  width: 64px;
  height: 72px;
}
.navLink .navText {
  color: #fff; 
}
.active .navText {
  color: black !important;
}




.active{
    border:  2px solid white !important;
    border-radius: 20px !important;
    background-color: white !important;
    color: black !important;
    font-weight: bold;    
}


.navLink:hover{
    border-bottom: 2px solid white;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}
.navLink.animationComplete {
  border: 2px solid white !important;
  border-radius: 20px !important;
  background-color: white !important;
  color: black !important;
  font-weight: bold;
}


  .mainNavbar{
    min-height: 7.5vh;
  }

  @media (max-width: 992px) {

  

    .navLink{
        width:fit-content;
    }
  
  }
  .home-timer-active {
    border: none;
    border-color: transparent !important; 
    background-color: transparent !important;
    color: white !important;
    font-weight: bold;
    
  }
  .home-timer-active .navText{
    color: #fff !important;
    font-weight: normal;
  }