.projects{
    
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:4rem;
}

.projects-body{
    display: flex;
    flex-direction: column;
   margin: 4rem 0rem;
}
.project__inner-body {
    display: flex;
    margin: 2rem 0rem;
    flex-direction: row-reverse;
    
}

.project__inner-body-left {
    width: 60%;
}

.project__inner-body-right {
    width: 40%;
    text-align: left;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-image {
    min-width: 60%; 
    height: auto; 
}

.project__inner-body-right p{


    padding: 2.2rem 5px 0.8rem 5px;
    width: 70%;

    
}
.case-study-btn{
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    height: 3rem;
    width: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    
}


.case-study-btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

@media (max-width:768px){
    .project__inner-body{
        flex-direction: column;
        align-items: center;
        margin: 1.5rem 0rem;
        
    }
    .project__inner-body-right{
        padding-top: 1.5rem;
        width: 90%;
        text-align: center;
        
    }
    .project__inner-body-right p{
        margin: 0;
        width: 100%;
        padding-top: 0.7rem;
        text-align: left;
    }
    .case-study-btn{
        width: fit-content;
        margin: auto;
    }
    .projects-body{
        margin: 0;
        margin-bottom: 2rem;
    }
}
@media (max-width: 992px) and (min-height: 768px) {
    .case-study-btn {
        width: 40%; 
         
        margin-bottom: 1rem; 
        
    }

    .project__inner-body-right {
        padding-top: 0.5rem; 
        padding-bottom: 1rem; 
    }

    .project__inner-body-right h3 {
        margin-top: 0rem;
        margin-bottom: 0.5rem; 
    }

    .project__inner-body-right p {
        padding: 0.3rem 0rem;
        width: 90%;
    }
}

.scroll-effect {
    position: relative;
    width: 10px; 
    height: 10px; 
    background-color: #000; 
    border-radius: 50%;
    margin: 0 auto;
    animation: scrollAnimation 1.2s linear infinite;
    opacity: 1;
  }
  
  @keyframes scrollAnimation {
    0%{
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(400%);
      opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 0;

    }
  }
  .mouse{
    border:2px solid #000;
    border-radius: 20px;
    height: 60px;
    width: 40px;
    margin-top: 1rem;
}
  
  